In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [2]:
train_data = pd.read_excel('01 Train Data.xlsx')
train_data.head()

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,NaN,Art of Resume Building,2.213855e+09,NaN,Free Order,USD,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,Placed
1,Dhanshree,dhanshree@xyz.com,1,NaN,Art of Resume Building,2.213859e+09,NaN,Free Order,USD,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,Not placed
2,Dhiraj,dhiraj@xyz.com,1,NaN,Art of Resume Building,2.213862e+09,NaN,Free Order,USD,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,Not placed
3,Pooja,pooja@xyz.com,1,NaN,Art of Resume Building,2.213988e+09,NaN,Free Order,USD,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,Not placed
4,Aayush,aayush@xyz.com,1,NaN,Art of Resume Building,2.214567e+09,NaN,Free Order,USD,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,Placed

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894 entries, 0 to 4893
Data columns (total 23 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       4894 non-null   object
 1   Email ID                                                         4894 non-null   object
 2   Quantity                                                         4894 non-null   int64
 3   Price Tier                                                       0 non-null      float64
 4   Ticket Type                                                      4894 non-null   object
 5   Attendee #                                                       4490 non-null   float64
 6   Group                                                            0 non-null      float64
 7   Order Type                                                       4894 non-null   object
 8   Currency                                                         4490 non-null   object
 9   Total Paid                                                       4894 non-null   int64
 10  Fees Paid                                                        4490 non-null   float64
 11  Eventbrite Fees                                                  4894 non-null   int64
 12  Eventbrite Payment Processing                                    4894 non-null   int64
 13  Attendee Status                                                  4894 non-null   object
 14  College Name                                                     4879 non-null   object
 15  How did you come to know about this event?                       2678 non-null   object
 16  Specify in "Others" (how did you come to know about this event)  89 non-null     object
 17  Designation                                                      4894 non-null   object
 18  Year of Graduation                                               1032 non-null   object
 19  CGPA                                                             4894 non-null   float64
 20  Speaking Skills                                                  4894 non-null   int64
 21  ML Knowledge                                                     4894 non-null   int64
 22  Placement Status                                                 1098 non-null   object
dtypes: float64(5), int64(6), object(12)
memory usage: 879.5+ KB

In [4]:
train_df = train_data.copy()

In [5]:
train_df.head()

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,NaN,Art of Resume Building,2.213855e+09,NaN,Free Order,USD,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,Placed
1,Dhanshree,dhanshree@xyz.com,1,NaN,Art of Resume Building,2.213859e+09,NaN,Free Order,USD,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,Not placed
2,Dhiraj,dhiraj@xyz.com,1,NaN,Art of Resume Building,2.213862e+09,NaN,Free Order,USD,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,Not placed
3,Pooja,pooja@xyz.com,1,NaN,Art of Resume Building,2.213988e+09,NaN,Free Order,USD,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,Not placed
4,Aayush,aayush@xyz.com,1,NaN,Art of Resume Building,2.214567e+09,NaN,Free Order,USD,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,Placed

In [6]:
columns = ['Price Tier', 'Group']
train_df = train_df.drop(columns, axis=1)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894 entries, 0 to 4893
Data columns (total 21 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       4894 non-null   object
 1   Email ID                                                         4894 non-null   object
 2   Quantity                                                         4894 non-null   int64
 3   Ticket Type                                                      4894 non-null   object
 4   Attendee #                                                       4490 non-null   float64
 5   Order Type                                                       4894 non-null   object
 6   Currency                                                         4490 non-null   object
 7   Total Paid                                                       4894 non-null   int64
 8   Fees Paid                                                        4490 non-null   float64
 9   Eventbrite Fees                                                  4894 non-null   int64
 10  Eventbrite Payment Processing                                    4894 non-null   int64
 11  Attendee Status                                                  4894 non-null   object
 12  College Name                                                     4879 non-null   object
 13  How did you come to know about this event?                       2678 non-null   object
 14  Specify in "Others" (how did you come to know about this event)  89 non-null     object
 15  Designation                                                      4894 non-null   object
 16  Year of Graduation                                               1032 non-null   object
 17  CGPA                                                             4894 non-null   float64
 18  Speaking Skills                                                  4894 non-null   int64
 19  ML Knowledge                                                     4894 non-null   int64
 20  Placement Status                                                 1098 non-null   object
dtypes: float64(3), int64(6), object(12)
memory usage: 803.0+ KB

In [7]:
train_df['Email ID'].value_counts()

Email ID
shubham@xyz.com       58
abhishek@xyz.com      42
patel@xyz.com         42
vaishnavi@xyz.com     41
omkar@xyz.com         36
                      ..
sowmyasree@xyz.com     1
sana@xyz.com           1
kanan@xyz.com          1
aishwary@xyz.com       1
utkarsha@xyz.com       1
Name: count, Length: 1987, dtype: int64

In [8]:
duplicates = train_df[train_df.duplicated(subset='Email ID', keep=False)]

In [9]:
duplicates

,First Name,Email ID,Quantity,Ticket Type,Attendee #,Order Type,Currency,Total Paid,Fees Paid,Eventbrite Fees,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,Art of Resume Building,2.213855e+09,Free Order,USD,0,0.0,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,Placed
1,Dhanshree,dhanshree@xyz.com,1,Art of Resume Building,2.213859e+09,Free Order,USD,0,0.0,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,Not placed
2,Dhiraj,dhiraj@xyz.com,1,Art of Resume Building,2.213862e+09,Free Order,USD,0,0.0,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,Not placed
3,Pooja,pooja@xyz.com,1,Art of Resume Building,2.213988e+09,Free Order,USD,0,0.0,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,Not placed
4,Aayush,aayush@xyz.com,1,Art of Resume Building,2.214567e+09,Free Order,USD,0,0.0,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,Saif ali,saifali@xyz.com,1,Data Visualization using Power BI,1.949319e+09,Free Order,USD,0,0.0,0,...,Attending,"mit academy of engineering ,alandi",NaN,NaN,Students,2021,9.0,3,2,NaN
4890,Lankesh,lankesh@xyz.com,1,Data Visualization using Power BI,1.949328e+09,Free Order,USD,0,0.0,0,...,Attending,a. c. patil college of engineering,NaN,NaN,Students,2021,7.2,4,3,NaN
4891,Sanjay,sanjay@xyz.com,1,Data Visualization using Power BI,1.949328e+09,Free Order,USD,0,0.0,0,...,Attending,wilson college,NaN,NaN,Students,2021,8.5,2,3,NaN
4892,Sushmita,sushmita@xyz.com,1,Data Visualization using Power BI,1.949330e+09,Free Order,USD,0,0.0,0,...,Attending,"ld college of engineering, ahmedabad, gujarat",NaN,NaN,Students,2021,6.5,5,5,NaN
4893,Vipul,vipul@xyz.com,1,Data Visualization using Power BI,1.949332e+09,Free Order,USD,0,0.0,0,...,Attending,dkte society's textile and engineering institu...,NaN,NaN,Students,2021,6.6,4,5,NaN

In [10]:
cleaned_df = train_df.drop_duplicates(subset='Email ID', keep='first')
cleaned_df

,First Name,Email ID,Quantity,Ticket Type,Attendee #,Order Type,Currency,Total Paid,Fees Paid,Eventbrite Fees,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,Art of Resume Building,2.213855e+09,Free Order,USD,0,0.0,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,Placed
1,Dhanshree,dhanshree@xyz.com,1,Art of Resume Building,2.213859e+09,Free Order,USD,0,0.0,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,Not placed
2,Dhiraj,dhiraj@xyz.com,1,Art of Resume Building,2.213862e+09,Free Order,USD,0,0.0,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,Not placed
3,Pooja,pooja@xyz.com,1,Art of Resume Building,2.213988e+09,Free Order,USD,0,0.0,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,Not placed
4,Aayush,aayush@xyz.com,1,Art of Resume Building,2.214567e+09,Free Order,USD,0,0.0,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4829,Kevin,kevin@xyz.com,1,Transformation with DevOps: The Easy Way,2.231408e+09,Free Order,USD,0,0.0,0,...,Attending,pillai college of engineering new panvel,Whatsapp,NaN,Students,NaN,9.1,5,4,NaN
4831,Hemil,hemil@xyz.com,1,Transformation with DevOps: The Easy Way,2.231440e+09,Free Order,USD,0,0.0,0,...,Attending,"vidyalankar institute of technology, mumbai",Instagram,NaN,Students,NaN,7.4,3,2,NaN
4832,Shitij,shitij@xyz.com,1,Transformation with DevOps: The Easy Way,2.231448e+09,Free Order,USD,0,0.0,0,...,Attending,government polytechnic gandhinagar,Youtube | Facebook | Instagram | Whatsapp | Email,NaN,Students,NaN,7.3,4,4,NaN
4834,dirgh,dirgh@xyz.com,1,Transformation with DevOps: The Easy Way,2.231489e+09,Free Order,USD,0,0.0,0,...,Attending,"vishwakarma institute of technology, pune",Instagram,NaN,Students,NaN,9.2,4,2,NaN
4836,UTkarsha,utkarsha@xyz.com,1,Transformation with DevOps: The Easy Way,2.231554e+09,Free Order,USD,0,0.0,0,...,Attending,"priyadarshini college of engineering, nagpur",Whatsapp,NaN,Students,NaN,7.9,2,5,NaN

In [11]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1987 entries, 0 to 4836
Data columns (total 21 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       1987 non-null   object
 1   Email ID                                                         1987 non-null   object
 2   Quantity                                                         1987 non-null   int64
 3   Ticket Type                                                      1987 non-null   object
 4   Attendee #                                                       1765 non-null   float64
 5   Order Type                                                       1987 non-null   object
 6   Currency                                                         1765 non-null   object
 7   Total Paid                                                       1987 non-null   int64
 8   Fees Paid                                                        1765 non-null   float64
 9   Eventbrite Fees                                                  1987 non-null   int64
 10  Eventbrite Payment Processing                                    1987 non-null   int64
 11  Attendee Status                                                  1987 non-null   object
 12  College Name                                                     1977 non-null   object
 13  How did you come to know about this event?                       1222 non-null   object
 14  Specify in "Others" (how did you come to know about this event)  47 non-null     object
 15  Designation                                                      1987 non-null   object
 16  Year of Graduation                                               280 non-null    object
 17  CGPA                                                             1987 non-null   float64
 18  Speaking Skills                                                  1987 non-null   int64
 19  ML Knowledge                                                     1987 non-null   int64
 20  Placement Status                                                 666 non-null    object
dtypes: float64(3), int64(6), object(12)
memory usage: 341.5+ KB

In [12]:
cleaned_df.describe()

,Quantity,Attendee #,Total Paid,Fees Paid,Eventbrite Fees,Eventbrite Payment Processing,CGPA,Speaking Skills,ML Knowledge
count,1987.0,1.765000e+03,1987.0,1765.0,1987.0,1987.0,1987.000000,1987.000000,1987.000000
mean,1.0,2.496110e+09,0.0,0.0,0.0,0.0,8.027177,3.397584,3.409160
std,0.0,7.963343e+08,0.0,0.0,0.0,0.0,1.004961,1.204203,1.199268
min,1.0,1.937670e+09,0.0,0.0,0.0,0.0,6.200000,1.000000,1.000000
25%,1.0,1.986366e+09,0.0,0.0,0.0,0.0,7.200000,2.000000,2.000000
50%,1.0,2.220114e+09,0.0,0.0,0.0,0.0,7.900000,3.000000,3.000000
75%,1.0,2.355403e+09,0.0,0.0,0.0,0.0,8.900000,5.000000,5.000000
max,1.0,4.322720e+09,0.0,0.0,0.0,0.0,9.900000,5.000000,5.000000

In [13]:
cleaned_df.Quantity.value_counts()

Quantity
1    1987
Name: count, dtype: int64

In [14]:
cleaned_df['Ticket Type'].value_counts()

Ticket Type
Internship Program(IP) Success Conclave        339
Art of Resume Building                         337
Product Design & Full Stack                    258
Data Visualization using Power BI              222
Hello ML and DL                                115
Talk on Skill and Employability Enhancement    109
IS DATA SCIENCE FOR YOU?                       101
KYC - Know Your CCPC                            73
Skill and Employability Enhancement             71
IAC - Q&A                                       67
Artificial Intelligence                         62
Product Marketing                               62
The SDLC & their transformations                52
The Agile Ways of Working                       51
Transformation with DevOps: The Easy Way        44
RPA: A Boon or A Bane                           24
Name: count, dtype: int64

In [16]:
cleaned_df['Attendee #'].value_counts()
cleaned_df['Order Type'].value_counts()
cleaned_df['Currency'].value_counts()
cleaned_df['Total Paid'].value_counts()
cleaned_df['Fees Paid'].value_counts()
cleaned_df['Eventbrite Fees'].value_counts()
cleaned_df['Eventbrite Payment Processing'].value_counts()
cleaned_df['Attendee Status'].value_counts()

Attendee Status
Attending    1982
NAN             5
Name: count, dtype: int64

In [17]:
columns = ['Quantity','Attendee #','Order Type','Currency','Total Paid','Fees Paid','Eventbrite Fees',
           'Eventbrite Payment Processing','Attendee Status']
cleaned_df = cleaned_df.drop(columns, axis=1)

In [18]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1987 entries, 0 to 4836
Data columns (total 12 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       1987 non-null   object
 1   Email ID                                                         1987 non-null   object
 2   Ticket Type                                                      1987 non-null   object
 3   College Name                                                     1977 non-null   object
 4   How did you come to know about this event?                       1222 non-null   object
 5   Specify in "Others" (how did you come to know about this event)  47 non-null     object
 6   Designation                                                      1987 non-null   object
 7   Year of Graduation                                               280 non-null    object
 8   CGPA                                                             1987 non-null   float64
 9   Speaking Skills                                                  1987 non-null   int64
 10  ML Knowledge                                                     1987 non-null   int64
 11  Placement Status                                                 666 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 201.8+ KB

In [19]:
cleaned_df['Ticket Type'].value_counts()

Ticket Type
Internship Program(IP) Success Conclave        339
Art of Resume Building                         337
Product Design & Full Stack                    258
Data Visualization using Power BI              222
Hello ML and DL                                115
Talk on Skill and Employability Enhancement    109
IS DATA SCIENCE FOR YOU?                       101
KYC - Know Your CCPC                            73
Skill and Employability Enhancement             71
IAC - Q&A                                       67
Artificial Intelligence                         62
Product Marketing                               62
The SDLC & their transformations                52
The Agile Ways of Working                       51
Transformation with DevOps: The Easy Way        44
RPA: A Boon or A Bane                           24
Name: count, dtype: int64

In [20]:
cleaned_df['College Name'].value_counts()

College Name
vidyalankar institute of technology, mumbai                                          94
priyadarshini college of engineering, nagpur                                         93
government polytechnic gandhinagar                                                   91
ld college of engineering, ahmedabad, gujarat                                        87
wilson college                                                                       82
b. k. birla college of arts, science & commerce (autonomous), kalyan                 78
g h raisoni institut of engineering and technology pune                              72
kle society's college of bca, rls institute, belagavi                                72
mit academy of engineering ,alandi                                                   71
dkte society's textile and engineering institute ichalkaranji                        64
vishwakarma institute of technology, pune                                            63
a. c. patil college of engineering                                                   62
new horizon institute of technology and management                                   58
symbiosis institute of technology, pune                                              53
don bosco college of engineering fatorda goa                                         51
st.francis institute of technology                                                   50
adhiyamaan college of engineering                                                    49
st xavier's college                                                                  49
pillai college of engineering new panvel                                             48
silicon institute of technology                                                      47
late g. n. sapkal college of engineering                                             47
chhattisgarh swami vivekananda technical university teaching department bhilai       38
Priyadarshini college of engineering, Nagpur                                         32
A. C. Patil College of Engineering                                                   28
s.i.e.s. graduate school of technology, nerul, navi mumbai                           25
Vidyalankar Institute of Technology, Mumbai                                          25
lokmanya tilak college of engineering koparkhairane navi mumbai                      25
B. K. Birla College of Arts, Science & Commerce (Autonomous), Kalyan                 25
thakur institute of management studies, career development & research - [timscdr]    24
Wilson college                                                                       23
Vishwakarma Institute of Technology, Pune                                            23
KLE Society's College of BCA, RLS Institute, Belagavi                                22
G H Raisoni institut of engineering and technology pune                              22
LD College of engineering, Ahmedabad, Gujarat                                        22
DKTE Society's Textile And Engineering Institute Ichalkaranji                        21
MIT Academy Of Engineering ,Alandi                                                   20
GOVERNMENT POLYTECHNIC GANDHINAGAR                                                   20
Symbiosis Institute of Technology, Pune                                              19
St.Francis Institute of Technology                                                   17
Late G. N. Sapkal College Of Engineering                                             17
Don Bosco College of Engineering Fatorda Goa                                         17
New horizon institute of Technology and Management                                   15
St Xavier's College                                                                  15
Silicon Institute of Technology                                                      13
Pillai College of Engineering New Panvel                                             13
CHHATTISGARH SWAMI VIVEKANANDA TECHNICAL UNIVERSITY TEACHING DEPARTMENT BHILAI       13
ADHIYAMAAN COLLEGE OF ENGINEERING                                                    11
LOKMANYA TILAK COLLEGE OF ENGINEERING KOPARKHAIRANE NAVI MUMBAI                      11
ap shah institute of technology                                                       9
d y patil institute of mca and management akurdi pune                                 8
S.I.E.S. Graduate School Of Technology, Nerul, Navi Mumbai                            8
THAKUR INSTITUTE OF MANAGEMENT STUDIES, CAREER DEVELOPMENT & RESEARCH - [TIMSCDR]     6
AP SHAH INSTITUTE OF TECHNOLOGY                                                       4
D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKURDI PUNE                                 3
na                                                                                    2
Name: count, dtype: int64

In [21]:
cleaned_df['Designation'].value_counts()

Designation
Students                    1847
Intern                        28
Asst. Professor               17
Engineering                   14
Data Science and Analyst      13
HoD                            9
Computer Engineer              9
B.Tech                         4
CSE                            4
Artificial intelligence        3
IT                             3
Professor                      3
Web Development                3
BE IT                          3
Civil Engineering              3
Principal                      3
Mechanical Engineer            2
Software Engineer              2
BE CS                          2
IT Engineering                 1
MTech                          1
Research Scholar               1
Computer applications          1
Django                         1
Cyber Security                 1
MCA                            1
PGDM Marketing student         1
SPC                            1
Aerospace engineer             1
Electrical Engineering         1
BE                             1
Director T& P                  1
Interior designer              1
Sr. Manager                    1
Name: count, dtype: int64

In [22]:
cleaned_df['Year of Graduation'].value_counts()

Year of Graduation
2021                        79
2022                        62
2023                        45
Second year                 32
Third year                  25
2020                        16
Final Year                   5
Fourth Year                  5
Bachelor of Engineering      2
Pursuing                     2
2019                         1
AISSMS                       1
2016                         1
B.Tech                       1
Friend                       1
1999                         1
2024                         1
Name: count, dtype: int64

In [23]:
cleaned_df['Source of Event Information'] = cleaned_df['How did you come to know about this event?'] + ' ' + cleaned_df['Specify in "Others" (how did you come to know about this event)'].fillna('')

In [24]:
cleaned_df.head()

,First Name,Email ID,Ticket Type,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status,Source of Event Information
0,ANIKET,aniket@xyz.com,Art of Resume Building,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,Placed,Email
1,Dhanshree,dhanshree@xyz.com,Art of Resume Building,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,Not placed,Others College
2,Dhiraj,dhiraj@xyz.com,Art of Resume Building,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,Not placed,Email
3,Pooja,pooja@xyz.com,Art of Resume Building,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,Not placed,Email
4,Aayush,aayush@xyz.com,Art of Resume Building,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,Placed,Instagram | LinkedIn | Cloud Counselage Website

In [25]:
columns = ['How did you come to know about this event?','Specify in "Others" (how did you come to know about this event)']
cleaned_df = cleaned_df.drop(columns, axis=1)
cleaned_df.head()

,First Name,Email ID,Ticket Type,College Name,Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status,Source of Event Information
0,ANIKET,aniket@xyz.com,Art of Resume Building,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Students,NaN,6.7,2,5,Placed,Email
1,Dhanshree,dhanshree@xyz.com,Art of Resume Building,AP SHAH INSTITUTE OF TECHNOLOGY,Students,NaN,8.2,3,2,Not placed,Others College
2,Dhiraj,dhiraj@xyz.com,Art of Resume Building,Don Bosco College of Engineering Fatorda Goa,Students,NaN,6.5,4,3,Not placed,Email
3,Pooja,pooja@xyz.com,Art of Resume Building,Pillai College of Engineering New Panvel,Students,NaN,8.7,2,5,Not placed,Email
4,Aayush,aayush@xyz.com,Art of Resume Building,St Xavier's College,Students,NaN,9.1,3,5,Placed,Instagram | LinkedIn | Cloud Counselage Website

In [26]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1987 entries, 0 to 4836
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   1987 non-null   object
 1   Email ID                     1987 non-null   object
 2   Ticket Type                  1987 non-null   object
 3   College Name                 1977 non-null   object
 4   Designation                  1987 non-null   object
 5   Year of Graduation           280 non-null    object
 6   CGPA                         1987 non-null   float64
 7   Speaking Skills              1987 non-null   int64
 8   ML Knowledge                 1987 non-null   int64
 9   Placement Status             666 non-null    object
 10  Source of Event Information  1222 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 186.3+ KB

In [27]:
cleaned_df['First Name'].value_counts()

First Name
ANIKET        1
Rahulsing     1
Daneshwari    1
Kausar        1
Sonica        1
             ..
Nishant       1
Arti          1
Barkha        1
Dhruvika      1
UTkarsha      1
Name: count, Length: 1987, dtype: int64

In [28]:
cleaned_df['Email ID'].value_counts()

Email ID
aniket@xyz.com        1
rahulsing@xyz.com     1
daneshwari@xyz.com    1
kausar@xyz.com        1
sonica@xyz.com        1
                     ..
nishant@xyz.com       1
arti@xyz.com          1
barkha@xyz.com        1
dhruvika@xyz.com      1
utkarsha@xyz.com      1
Name: count, Length: 1987, dtype: int64

In [29]:
cleaned_df['Ticket Type'].value_counts()

Ticket Type
Internship Program(IP) Success Conclave        339
Art of Resume Building                         337
Product Design & Full Stack                    258
Data Visualization using Power BI              222
Hello ML and DL                                115
Talk on Skill and Employability Enhancement    109
IS DATA SCIENCE FOR YOU?                       101
KYC - Know Your CCPC                            73
Skill and Employability Enhancement             71
IAC - Q&A                                       67
Artificial Intelligence                         62
Product Marketing                               62
The SDLC & their transformations                52
The Agile Ways of Working                       51
Transformation with DevOps: The Easy Way        44
RPA: A Boon or A Bane                           24
Name: count, dtype: int64

In [30]:
cleaned_df['College Name'].value_counts()

College Name
vidyalankar institute of technology, mumbai                                          94
priyadarshini college of engineering, nagpur                                         93
government polytechnic gandhinagar                                                   91
ld college of engineering, ahmedabad, gujarat                                        87
wilson college                                                                       82
b. k. birla college of arts, science & commerce (autonomous), kalyan                 78
g h raisoni institut of engineering and technology pune                              72
kle society's college of bca, rls institute, belagavi                                72
mit academy of engineering ,alandi                                                   71
dkte society's textile and engineering institute ichalkaranji                        64
vishwakarma institute of technology, pune                                            63
a. c. patil college of engineering                                                   62
new horizon institute of technology and management                                   58
symbiosis institute of technology, pune                                              53
don bosco college of engineering fatorda goa                                         51
st.francis institute of technology                                                   50
adhiyamaan college of engineering                                                    49
st xavier's college                                                                  49
pillai college of engineering new panvel                                             48
silicon institute of technology                                                      47
late g. n. sapkal college of engineering                                             47
chhattisgarh swami vivekananda technical university teaching department bhilai       38
Priyadarshini college of engineering, Nagpur                                         32
A. C. Patil College of Engineering                                                   28
s.i.e.s. graduate school of technology, nerul, navi mumbai                           25
Vidyalankar Institute of Technology, Mumbai                                          25
lokmanya tilak college of engineering koparkhairane navi mumbai                      25
B. K. Birla College of Arts, Science & Commerce (Autonomous), Kalyan                 25
thakur institute of management studies, career development & research - [timscdr]    24
Wilson college                                                                       23
Vishwakarma Institute of Technology, Pune                                            23
KLE Society's College of BCA, RLS Institute, Belagavi                                22
G H Raisoni institut of engineering and technology pune                              22
LD College of engineering, Ahmedabad, Gujarat                                        22
DKTE Society's Textile And Engineering Institute Ichalkaranji                        21
MIT Academy Of Engineering ,Alandi                                                   20
GOVERNMENT POLYTECHNIC GANDHINAGAR                                                   20
Symbiosis Institute of Technology, Pune                                              19
St.Francis Institute of Technology                                                   17
Late G. N. Sapkal College Of Engineering                                             17
Don Bosco College of Engineering Fatorda Goa                                         17
New horizon institute of Technology and Management                                   15
St Xavier's College                                                                  15
Silicon Institute of Technology                                                      13
Pillai College of Engineering New Panvel                                             13
CHHATTISGARH SWAMI VIVEKANANDA TECHNICAL UNIVERSITY TEACHING DEPARTMENT BHILAI       13
ADHIYAMAAN COLLEGE OF ENGINEERING                                                    11
LOKMANYA TILAK COLLEGE OF ENGINEERING KOPARKHAIRANE NAVI MUMBAI                      11
ap shah institute of technology                                                       9
d y patil institute of mca and management akurdi pune                                 8
S.I.E.S. Graduate School Of Technology, Nerul, Navi Mumbai                            8
THAKUR INSTITUTE OF MANAGEMENT STUDIES, CAREER DEVELOPMENT & RESEARCH - [TIMSCDR]     6
AP SHAH INSTITUTE OF TECHNOLOGY                                                       4
D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKURDI PUNE                                 3
na                                                                                    2
Name: count, dtype: int64

In [31]:
college = cleaned_df['College Name'].value_counts().keys()
count = cleaned_df['College Name'].value_counts().values
labels = [str(val) for val in count]

fig = px.bar(y=college, x=count, text=labels, title='Count of each College', template='plotly', color_discrete_sequence=['yellow'])

# Set the labels for the y-axis and x-axis
fig.update_xaxes(title_text='count')
fig.update_yaxes(title_text='College')

fig.update_layout(width=1000, height=1300)

# Show the plot
fig.show()

In [32]:
cleaned_df['Designation'].value_counts()

Designation
Students                    1847
Intern                        28
Asst. Professor               17
Engineering                   14
Data Science and Analyst      13
HoD                            9
Computer Engineer              9
B.Tech                         4
CSE                            4
Artificial intelligence        3
IT                             3
Professor                      3
Web Development                3
BE IT                          3
Civil Engineering              3
Principal                      3
Mechanical Engineer            2
Software Engineer              2
BE CS                          2
IT Engineering                 1
MTech                          1
Research Scholar               1
Computer applications          1
Django                         1
Cyber Security                 1
MCA                            1
PGDM Marketing student         1
SPC                            1
Aerospace engineer             1
Electrical Engineering         1
BE                             1
Director T& P                  1
Interior designer              1
Sr. Manager                    1
Name: count, dtype: int64

In [33]:
cleaned_df['Year of Graduation'].value_counts()

Year of Graduation
2021                        79
2022                        62
2023                        45
Second year                 32
Third year                  25
2020                        16
Final Year                   5
Fourth Year                  5
Bachelor of Engineering      2
Pursuing                     2
2019                         1
AISSMS                       1
2016                         1
B.Tech                       1
Friend                       1
1999                         1
2024                         1
Name: count, dtype: int64

In [34]:
columns = ['College Name','CGPA','Speaking Skills','ML Knowledge','Placement Status']
train_data = cleaned_df[columns]

In [35]:
train_data['Placement Status'].value_counts()

Placement Status
Not placed    454
Placed        212
Name: count, dtype: int64

In [36]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
train_data['Placement Status'] = label_encoder.fit_transform(train_data['Placement Status'])
train_data['College Name'] = label_encoder.fit_transform(train_data['College Name'])

<ipython-input-36-0205de7169f7>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-36-0205de7169f7>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
train_data['Placement Status'] = train_data['Placement Status'].fillna(0)

<ipython-input-37-acbf9708c742>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
train_data.head()

   College Name  CGPA  Speaking Skills  ML Knowledge  Placement Status
0             5   6.7                2             5                 1
1             2   8.2                3             2                 0
2             7   6.5                4             3                 0
3            16   8.7                2             5                 0
4            20   9.1                3             5                 1

In [39]:
train_data.corr()

,College Name,CGPA,Speaking Skills,ML Knowledge,Placement Status
College Name,1.000000,0.015798,-0.023175,-0.022636,0.389209
CGPA,0.015798,1.000000,0.019610,0.010322,0.016035
Speaking Skills,-0.023175,0.019610,1.000000,0.884473,-0.052706
ML Knowledge,-0.022636,0.010322,0.884473,1.000000,-0.052940
Placement Status,0.389209,0.016035,-0.052706,-0.052940,1.000000

In [40]:
test_df = pd.read_excel('02 Test Data.xlsx')
test_df.head()

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,Sahil,sahil@xyz.com,1,NaN,Hello ML and DL,2.293940e+09,NaN,Free Order,USD,0,...,Attending,"symbiosis institute of technology, pune",Whatsapp,NaN,Students,NaN,7.8,3,3,NaN
1,Amrita,amrita@xyz.com,1,NaN,Hello ML and DL,2.293941e+09,NaN,Free Order,USD,0,...,Attending,"mit academy of engineering ,alandi",Whatsapp,NaN,Students,NaN,9.1,3,3,NaN
2,Mamta,mamta@xyz.com,1,NaN,Hello ML and DL,2.293941e+09,NaN,Free Order,USD,0,...,Attending,a. c. patil college of engineering,Whatsapp,NaN,Students,NaN,6.9,2,2,NaN
3,Bhagyashri,bhagyashri@xyz.com,1,NaN,Hello ML and DL,2.293946e+09,NaN,Free Order,USD,0,...,Attending,wilson college,Others,NaN,Students,NaN,8.4,4,4,NaN
4,Divyanshu,divyanshu@xyz.com,1,NaN,Hello ML and DL,2.293956e+09,NaN,Free Order,USD,0,...,Attending,"ld college of engineering, ahmedabad, gujarat",Whatsapp,NaN,Students,NaN,6.7,5,5,NaN

In [41]:
duplicates = test_df[test_df.duplicated(subset='Email ID', keep=False)]

In [42]:
test_cleaned_df = test_df.drop_duplicates(subset='Email ID', keep='first')

In [43]:
test_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2321 entries, 0 to 3695
Data columns (total 23 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       2321 non-null   object
 1   Email ID                                                         2321 non-null   object
 2   Quantity                                                         2321 non-null   int64
 3   Price Tier                                                       0 non-null      float64
 4   Ticket Type                                                      2321 non-null   object
 5   Attendee #                                                       2321 non-null   float64
 6   Group                                                            0 non-null      float64
 7   Order Type                                                       2321 non-null   object
 8   Currency                                                         2321 non-null   object
 9   Total Paid                                                       2321 non-null   int64
 10  Fees Paid                                                        2321 non-null   float64
 11  Eventbrite Fees                                                  2321 non-null   int64
 12  Eventbrite Payment Processing                                    2321 non-null   int64
 13  Attendee Status                                                  2321 non-null   object
 14  College Name                                                     2320 non-null   object
 15  How did you come to know about this event?                       815 non-null    object
 16  Specify in "Others" (how did you come to know about this event)  14 non-null     object
 17  Designation                                                      2321 non-null   object
 18  Year of Graduation                                               489 non-null    object
 19  CGPA                                                             2321 non-null   float64
 20  Speaking Skills                                                  2321 non-null   int64
 21  ML Knowledge                                                     2321 non-null   int64
 22  Placement Status                                                 0 non-null      float64
dtypes: float64(6), int64(6), object(11)
memory usage: 435.2+ KB

In [44]:
columns = ['Quantity','Price Tier','Group','Attendee #','Order Type','Currency','Total Paid','Fees Paid','Eventbrite Fees',
           'Eventbrite Payment Processing','Attendee Status']
test_cleaned_df = test_cleaned_df.drop(columns, axis=1)

In [45]:
test_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2321 entries, 0 to 3695
Data columns (total 12 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       2321 non-null   object
 1   Email ID                                                         2321 non-null   object
 2   Ticket Type                                                      2321 non-null   object
 3   College Name                                                     2320 non-null   object
 4   How did you come to know about this event?                       815 non-null    object
 5   Specify in "Others" (how did you come to know about this event)  14 non-null     object
 6   Designation                                                      2321 non-null   object
 7   Year of Graduation                                               489 non-null    object
 8   CGPA                                                             2321 non-null   float64
 9   Speaking Skills                                                  2321 non-null   int64
 10  ML Knowledge                                                     2321 non-null   int64
 11  Placement Status                                                 0 non-null      float64
dtypes: float64(2), int64(2), object(8)
memory usage: 235.7+ KB

In [46]:
test_cleaned_df['Source of Event Information'] = test_cleaned_df['How did you come to know about this event?'] + ' ' + test_cleaned_df['Specify in "Others" (how did you come to know about this event)'].fillna('')

In [47]:
columns = ['How did you come to know about this event?','Specify in "Others" (how did you come to know about this event)']
test_cleaned_df = test_cleaned_df.drop(columns, axis=1)

In [48]:
test_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2321 entries, 0 to 3695
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   2321 non-null   object
 1   Email ID                     2321 non-null   object
 2   Ticket Type                  2321 non-null   object
 3   College Name                 2320 non-null   object
 4   Designation                  2321 non-null   object
 5   Year of Graduation           489 non-null    object
 6   CGPA                         2321 non-null   float64
 7   Speaking Skills              2321 non-null   int64
 8   ML Knowledge                 2321 non-null   int64
 9   Placement Status             0 non-null      float64
 10  Source of Event Information  815 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 217.6+ KB

In [49]:
columns = ['College Name','CGPA','Speaking Skills','ML Knowledge','Placement Status']
test_data = test_cleaned_df[columns]

In [50]:
test_data['College Name'] = label_encoder.fit_transform(test_data['College Name'])

<ipython-input-50-475f80763ead>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
test_data.head()

   College Name  CGPA  Speaking Skills  ML Knowledge  Placement Status
0            49   7.8                3             3               NaN
1            41   9.1                3             3               NaN
2            27   6.9                2             2               NaN
3            53   8.4                4             4               NaN
4            39   6.7                5             5               NaN

In [52]:
columns = ['College Name','CGPA','Speaking Skills', 'ML Knowledge']
x_train = train_data[columns]

In [53]:
y_train = train_data['Placement Status']

In [56]:
from sklearn.model_selection import train_test_split
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [58]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score, classification_report

In [61]:
model_1 = AdaBoostClassifier(n_estimators=100, random_state=0)
model_1.fit(X_train_split, y_train_split)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [62]:
y_val_pred_1 = model_1.predict(X_val_split)
print("Validation Accuracy:", accuracy_score(y_val_split, y_val_pred_1))
print("Classification Report:\n", classification_report(y_val_split, y_val_pred_1))

Validation Accuracy: 0.6884422110552764
Classification Report:
               precision    recall  f1-score   support

           0       0.45      0.47      0.46        86
           1       0.00      0.00      0.00        51
           2       0.78      0.90      0.83       261

    accuracy                           0.69       398
   macro avg       0.41      0.45      0.43       398
weighted avg       0.61      0.69      0.64       398

In [63]:
test_data.head(10)

   College Name  CGPA  Speaking Skills  ML Knowledge  Placement Status
0            49   7.8                3             3               NaN
1            41   9.1                3             3               NaN
2            27   6.9                2             2               NaN
3            53   8.4                4             4               NaN
4            39   6.7                5             5               NaN
5            33   9.2                2             2               NaN
6            50   7.3                2             2               NaN
7            40   7.9                2             2               NaN
8            44   9.9                5             5               NaN
9            51   7.6                2             2               NaN

In [64]:
test_pred_para = test_data.drop(columns="Placement Status")

In [67]:
test_pred_placement = model_1.predict(test_pred_para)

In [68]:
test_data['Placement Status Predicted'] = test_pred_placement

<ipython-input-68-88f6f876d990>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
test_data.head()

,College Name,CGPA,Speaking Skills,ML Knowledge,Placement Status,Placement Status Predicted
0,49,7.8,3,3,NaN,2
1,41,9.1,3,3,NaN,2
2,27,6.9,2,2,NaN,2
3,53,8.4,4,4,NaN,2
4,39,6.7,5,5,NaN,2

In [70]:
test_data['Placement Status Predicted'].value_counts()

Placement Status Predicted
2    2069
0     237
1      15
Name: count, dtype: int64

In [71]:
test_data.head()

,College Name,CGPA,Speaking Skills,ML Knowledge,Placement Status,Placement Status Predicted
0,49,7.8,3,3,NaN,2
1,41,9.1,3,3,NaN,2
2,27,6.9,2,2,NaN,2
3,53,8.4,4,4,NaN,2
4,39,6.7,5,5,NaN,2

In [72]:
test_cleaned_df['Predicted Placement Status'] = test_pred_placement
test_cleaned_df.head(25)

,First Name,Email ID,Ticket Type,College Name,Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status,Source of Event Information,Predicted Placement Status
0,Sahil,sahil@xyz.com,Hello ML and DL,"symbiosis institute of technology, pune",Students,NaN,7.8,3,3,NaN,Whatsapp,2
1,Amrita,amrita@xyz.com,Hello ML and DL,"mit academy of engineering ,alandi",Students,NaN,9.1,3,3,NaN,Whatsapp,2
2,Mamta,mamta@xyz.com,Hello ML and DL,a. c. patil college of engineering,Students,NaN,6.9,2,2,NaN,Whatsapp,2
3,Bhagyashri,bhagyashri@xyz.com,Hello ML and DL,wilson college,Students,NaN,8.4,4,4,NaN,Others,2
4,Divyanshu,divyanshu@xyz.com,Hello ML and DL,"ld college of engineering, ahmedabad, gujarat",Students,NaN,6.7,5,5,NaN,Whatsapp,2
5,Aditya,aditya@xyz.com,Hello ML and DL,dkte society's textile and engineering institu...,Students,NaN,9.2,2,2,NaN,Email,2
6,Akshay,akshay@xyz.com,Hello ML and DL,"thakur institute of management studies, career...",Students,NaN,7.3,2,2,NaN,Whatsapp,2
7,Vaishnavi,vaishnavi@xyz.com,Hello ML and DL,lokmanya tilak college of engineering koparkha...,Students,NaN,7.9,2,2,NaN,Whatsapp,2
8,Pranita,pranita@xyz.com,Hello ML and DL,"priyadarshini college of engineering, nagpur",Students,NaN,9.9,5,5,NaN,Whatsapp,2
9,Pratik,pratik@xyz.com,Hello ML and DL,"vidyalankar institute of technology, mumbai",Students,NaN,7.6,2,2,NaN,Whatsapp,2
10,Daaniya,daaniya@xyz.com,Hello ML and DL,chhattisgarh swami vivekananda technical unive...,Students,NaN,9.3,5,5,NaN,Whatsapp,2
11,Sunny,sunny@xyz.com,Hello ML and DL,silicon institute of technology,Students,NaN,6.4,4,4,NaN,Whatsapp,2
12,Kaveri,kaveri@xyz.com,Hello ML and DL,adhiyamaan college of engineering,Students,NaN,8.4,4,4,NaN,Whatsapp,2
13,Abhang,abhang@xyz.com,Hello ML and DL,don bosco college of engineering fatorda goa,Students,NaN,6.6,5,5,NaN,Whatsapp,2
14,Aaliya Ruba,aaliyaruba@xyz.com,Hello ML and DL,pillai college of engineering new panvel,Students,NaN,7.8,2,2,NaN,Whatsapp,2
15,Juhi,juhi@xyz.com,Hello ML and DL,st xavier's college,Students,NaN,8.7,4,4,NaN,Youtube | Whatsapp | Email,2
16,Yash,yash@xyz.com,Hello ML and DL,"vidyalankar institute of technology, mumbai",Students,NaN,7.2,4,4,NaN,Email,2
17,Shalini,shalini@xyz.com,Hello ML and DL,"s.i.e.s. graduate school of technology, nerul,...",Students,NaN,7.1,4,4,NaN,Youtube,2
18,SHIVAM,shivam@xyz.com,Hello ML and DL,g h raisoni institut of engineering and techno...,Students,NaN,8.0,4,4,NaN,Whatsapp,2
19,Nikhil,nikhil@xyz.com,Hello ML and DL,government polytechnic gandhinagar,Students,NaN,8.5,5,5,NaN,Whatsapp,2
20,Mehul,mehul@xyz.com,Hello ML and DL,"b. k. birla college of arts, science & commerc...",Students,NaN,8.5,2,2,NaN,Whatsapp,2
21,Anmol,anmol@xyz.com,Hello ML and DL,"vishwakarma institute of technology, pune",Students,NaN,9.1,4,4,NaN,LinkedIn,2
22,Akash,akash@xyz.com,Hello ML and DL,"kle society's college of bca, rls institute, b...",Students,NaN,9.7,3,3,NaN,Email,2
23,Pavi,pavi@xyz.com,Hello ML and DL,g h raisoni institut of engineering and techno...,Students,NaN,8.7,2,2,NaN,Whatsapp,2
24,Anushka,anushka@xyz.com,Hello ML and DL,government polytechnic gandhinagar,Students,NaN,6.5,5,5,NaN,Cloud Counselage Website,2

In [73]:
pred_placement_status_decode_mapping = {
    0: 'Not Placed',
    1: 'Placed',
    2: ' '
}

test_cleaned_df['Predicted Placement Status'] = test_cleaned_df['Predicted Placement Status'].replace(pred_placement_status_decode_mapping)
test_cleaned_df.head(25)

,First Name,Email ID,Ticket Type,College Name,Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status,Source of Event Information,Predicted Placement Status
0,Sahil,sahil@xyz.com,Hello ML and DL,"symbiosis institute of technology, pune",Students,NaN,7.8,3,3,NaN,Whatsapp,
1,Amrita,amrita@xyz.com,Hello ML and DL,"mit academy of engineering ,alandi",Students,NaN,9.1,3,3,NaN,Whatsapp,
2,Mamta,mamta@xyz.com,Hello ML and DL,a. c. patil college of engineering,Students,NaN,6.9,2,2,NaN,Whatsapp,
3,Bhagyashri,bhagyashri@xyz.com,Hello ML and DL,wilson college,Students,NaN,8.4,4,4,NaN,Others,
4,Divyanshu,divyanshu@xyz.com,Hello ML and DL,"ld college of engineering, ahmedabad, gujarat",Students,NaN,6.7,5,5,NaN,Whatsapp,
5,Aditya,aditya@xyz.com,Hello ML and DL,dkte society's textile and engineering institu...,Students,NaN,9.2,2,2,NaN,Email,
6,Akshay,akshay@xyz.com,Hello ML and DL,"thakur institute of management studies, career...",Students,NaN,7.3,2,2,NaN,Whatsapp,
7,Vaishnavi,vaishnavi@xyz.com,Hello ML and DL,lokmanya tilak college of engineering koparkha...,Students,NaN,7.9,2,2,NaN,Whatsapp,
8,Pranita,pranita@xyz.com,Hello ML and DL,"priyadarshini college of engineering, nagpur",Students,NaN,9.9,5,5,NaN,Whatsapp,
9,Pratik,pratik@xyz.com,Hello ML and DL,"vidyalankar institute of technology, mumbai",Students,NaN,7.6,2,2,NaN,Whatsapp,
10,Daaniya,daaniya@xyz.com,Hello ML and DL,chhattisgarh swami vivekananda technical unive...,Students,NaN,9.3,5,5,NaN,Whatsapp,
11,Sunny,sunny@xyz.com,Hello ML and DL,silicon institute of technology,Students,NaN,6.4,4,4,NaN,Whatsapp,
12,Kaveri,kaveri@xyz.com,Hello ML and DL,adhiyamaan college of engineering,Students,NaN,8.4,4,4,NaN,Whatsapp,
13,Abhang,abhang@xyz.com,Hello ML and DL,don bosco college of engineering fatorda goa,Students,NaN,6.6,5,5,NaN,Whatsapp,
14,Aaliya Ruba,aaliyaruba@xyz.com,Hello ML and DL,pillai college of engineering new panvel,Students,NaN,7.8,2,2,NaN,Whatsapp,
15,Juhi,juhi@xyz.com,Hello ML and DL,st xavier's college,Students,NaN,8.7,4,4,NaN,Youtube | Whatsapp | Email,
16,Yash,yash@xyz.com,Hello ML and DL,"vidyalankar institute of technology, mumbai",Students,NaN,7.2,4,4,NaN,Email,
17,Shalini,shalini@xyz.com,Hello ML and DL,"s.i.e.s. graduate school of technology, nerul,...",Students,NaN,7.1,4,4,NaN,Youtube,
18,SHIVAM,shivam@xyz.com,Hello ML and DL,g h raisoni institut of engineering and techno...,Students,NaN,8.0,4,4,NaN,Whatsapp,
19,Nikhil,nikhil@xyz.com,Hello ML and DL,government polytechnic gandhinagar,Students,NaN,8.5,5,5,NaN,Whatsapp,
20,Mehul,mehul@xyz.com,Hello ML and DL,"b. k. birla college of arts, science & commerc...",Students,NaN,8.5,2,2,NaN,Whatsapp,
21,Anmol,anmol@xyz.com,Hello ML and DL,"vishwakarma institute of technology, pune",Students,NaN,9.1,4,4,NaN,LinkedIn,
22,Akash,akash@xyz.com,Hello ML and DL,"kle society's college of bca, rls institute, b...",Students,NaN,9.7,3,3,NaN,Email,
23,Pavi,pavi@xyz.com,Hello ML and DL,g h raisoni institut of engineering and techno...,Students,NaN,8.7,2,2,NaN,Whatsapp,
24,Anushka,anushka@xyz.com,Hello ML and DL,government polytechnic gandhinagar,Students,NaN,6.5,5,5,NaN,Cloud Counselage Website,

In [74]:
test_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2321 entries, 0 to 3695
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   First Name                   2321 non-null   object
 1   Email ID                     2321 non-null   object
 2   Ticket Type                  2321 non-null   object
 3   College Name                 2320 non-null   object
 4   Designation                  2321 non-null   object
 5   Year of Graduation           489 non-null    object
 6   CGPA                         2321 non-null   float64
 7   Speaking Skills              2321 non-null   int64
 8   ML Knowledge                 2321 non-null   int64
 9   Placement Status             0 non-null      float64
 10  Source of Event Information  815 non-null    object
 11  Predicted Placement Status   2321 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 235.7+ KB

In [76]:
columns = ['First Name','Email ID','Ticket Type','College Name', 'Designation','Year of Graduation', 'CGPA','Speaking Skills','ML Knowledge','Predicted Placement Status','Source of Event Information']
final_predicted_data = test_cleaned_df[columns]

In [78]:
final_predicted_data.head(15)

,First Name,Email ID,Ticket Type,College Name,Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Predicted Placement Status,Source of Event Information
0,Sahil,sahil@xyz.com,Hello ML and DL,"symbiosis institute of technology, pune",Students,NaN,7.8,3,3,,Whatsapp
1,Amrita,amrita@xyz.com,Hello ML and DL,"mit academy of engineering ,alandi",Students,NaN,9.1,3,3,,Whatsapp
2,Mamta,mamta@xyz.com,Hello ML and DL,a. c. patil college of engineering,Students,NaN,6.9,2,2,,Whatsapp
3,Bhagyashri,bhagyashri@xyz.com,Hello ML and DL,wilson college,Students,NaN,8.4,4,4,,Others
4,Divyanshu,divyanshu@xyz.com,Hello ML and DL,"ld college of engineering, ahmedabad, gujarat",Students,NaN,6.7,5,5,,Whatsapp
5,Aditya,aditya@xyz.com,Hello ML and DL,dkte society's textile and engineering institu...,Students,NaN,9.2,2,2,,Email
6,Akshay,akshay@xyz.com,Hello ML and DL,"thakur institute of management studies, career...",Students,NaN,7.3,2,2,,Whatsapp
7,Vaishnavi,vaishnavi@xyz.com,Hello ML and DL,lokmanya tilak college of engineering koparkha...,Students,NaN,7.9,2,2,,Whatsapp
8,Pranita,pranita@xyz.com,Hello ML and DL,"priyadarshini college of engineering, nagpur",Students,NaN,9.9,5,5,,Whatsapp
9,Pratik,pratik@xyz.com,Hello ML and DL,"vidyalankar institute of technology, mumbai",Students,NaN,7.6,2,2,,Whatsapp
10,Daaniya,daaniya@xyz.com,Hello ML and DL,chhattisgarh swami vivekananda technical unive...,Students,NaN,9.3,5,5,,Whatsapp
11,Sunny,sunny@xyz.com,Hello ML and DL,silicon institute of technology,Students,NaN,6.4,4,4,,Whatsapp
12,Kaveri,kaveri@xyz.com,Hello ML and DL,adhiyamaan college of engineering,Students,NaN,8.4,4,4,,Whatsapp
13,Abhang,abhang@xyz.com,Hello ML and DL,don bosco college of engineering fatorda goa,Students,NaN,6.6,5,5,,Whatsapp
14,Aaliya Ruba,aaliyaruba@xyz.com,Hello ML and DL,pillai college of engineering new panvel,Students,NaN,7.8,2,2,,Whatsapp

In [79]:
final_predicted_data.to_excel('Final Placement Predicted Data.xlsx')
final_predicted_data.to_csv('Final Placement Predicted Data.csv')